<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>

<script>
    const app = angular.module('myApp', ["ngResource"]);

    app.controller('mainCtrl', function($scope,$resource,$http) {
        $scope.foo = {id:0 , name:"sample foo"};
        $scope.foos = $resource("/patient/:fooId",{fooId:'@id'});

        $scope.getFoo = function(){
            $scope.foo = $scope.foos.get({fooId:$scope.foo.id});
        }
    });
</script>

<div>
    <h1>Foo Details</h1>
    <span>{{foo.id}}</span>
    <span>{{foo.name}}</span>
    <a href="#" ng-click="getFoo()">New Foo</a>
</div>

</body>
</html>